spring:
  application:
    name: RollinMomentServer

  config:
    import: "classpath:./config/local-var.yml"

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: "${database.url}"
    username: "${database.username}"
    password: "${database.password}"

  jwt:
    hashcode: "${jwt.hashcode}"

  aes:
    secret: "${aes.secret}"

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: kakao
            client-id: "${oauth2.kakao.id}"
            client-secret: "${oauth2.kakao.secret}"
            redirect-uri: http://localhost:8080/api/v1/auth/signIn
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email
            client-authentication-method: client_secret_post
            provider: kakao

          naver:
            client-name: naver
            client-id: "${oauth2.naver.id}"
            client-secret: "${oauth2.naver.secret}"
            redirect-uri: http://localhost:8080/rollingmoment/api/user/signin
            authorization-grant-type: authorization_code
            scope: name, email
            client-authentication-method: client_secret_post
            provider: naver

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response


  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  springdoc:
    swagger-ui:
      path: /swagger-ui.html
      operations-sorter: method